
.cardHover:hover {
    background-color: $danger;
}

.card:hover>.card-body>.iconHover {
    animation: flip;
    animation-duration: 0.5s;
    color: $white !important;
}

.slick-dots.slick-thumb {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slick-dots.slick-thumb li {
    width: 6px;
    height: 6px;
    margin: 0 3px;
    border-radius: 999px;
    transition: all 0.5s ease-in-out;
    will-change: width;
    background-color: $white;
}

.slick-dots.slick-thumb li.slick-active {
    background-color: $danger;
    width: 24px;
}

.prev-slick,
.next-slick {
    position: absolute !important;
    display: block !important;
    line-height: 0px !important;
    cursor: pointer !important;
    background: transparent !important;
    color: transparent !important;
    top: 50% !important;
    transform: translate(0, -50%) !important;
    padding: 0 !important;
    border: none !important;
    outline: none !important;
}

.next-slick {
    right: -25px !important;
}

.prev-slick {
    left: -25px !important;
}

nav a {
        color: $white !important;  
}

nav a {
    &:hover {
        color: $danger !important;
    }
}

.dropdown-toggle {
    color: $danger !important;
}

.active-scroll-spy {
    @media (min-width: 913PX) {

        color: $danger !important;
        border-bottom: 3px solid $danger;

    }


}

